<app-header></app-header>
<!-- <nav class="navbar navbar-expand-sm bg-primary navbar-dark">

    <ul class="navbar-nav">

      <li class="nav-item active margin-left1">
        <a class="nav-link ml-5 mx-5 pl-5 margin-left1" routerLink="selections" >
            <img src="assets\Icons\Icons\home-24px.svg" >HOME</a>
      </li>

      <li class="nav-item active margin-left1 margin-right "><img src="assets\Icons\Icons\people_alt-24px.svg">
        <a href="" class="navbar-brand">EMPLOYEES</a>
      </li>
      
      <li class="nav-item active margin-left2 "><img class="image" src="assets\Icons\Icons\user-solid.svg">
       <a href="" class="navbar-brand">Inventory Manager</a>
      </li>

      <button type="button" class="btn1 btn-outline-light btn-primary"><a routerLink="selections"></a>SIGN OUT</button>

    </ul>
</nav> -->
<br>
<br>
<div class="container">
    <div class="row">
      <div class="col-lg-10 offset-1">
          <table class="table table-bordered  ">
            <thead class="p-3 mb-2 bg-primary text-white">
              <tr>
                <th scope="col-md-2">ROLE</th>
                <th scope="col-md-2">NAME</th>
                <th scope="col-md-2">TP NUMBER</th>
              </tr>
            </thead>
            <tbody>
          
              <tr class="thead-light" style="font-weight:normal">
                <th style="font-weight:normal">Admin</th>
                <th style="font-weight:normal">H.M.Perera</th>
                <th style="font-weight:normal">0713366447</th>
              </tr>
  
              <tr class="thead-light">
                <th style="font-weight:normal">Analyzer</th>
                <th style="font-weight:normal">A.P.Fernando</th>
                <th style="font-weight:normal">0718656965</th>
              </tr>
  
              <tr class="thead-light">
                <th style="font-weight:normal">Inventory Manager</th>
                <th style="font-weight:normal">G.D.Wijesinghe</th>
                <th style="font-weight:normal">0754652766</th>
              </tr>
  
              <tr class="thead-light">
                <th style="font-weight:normal">Cash collector</th>
                <th style="font-weight:normal">M.R.Karunarathna</th>
                <th style="font-weight:normal">0784342766</th>
              </tr>
  
            </tbody>
          </table>
        </div>
      </div>
    </div>
