<app-navbar></app-navbar>
<div class="container">
      
   
    <button type="button" class="btn btn-primary" routerLink="users" >Users</button>
<!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#userRegistrationForm">
        NEW USER
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="userRegistrationForm" tabindex="-1" role="dialog" aria-labelledby="userRegistrationFormLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="bg-primary formheader">
             
              <h6 class="modal-title " id="userRegistrationFormheader"> <img class="regicon" src="assets/Icons/Icons/how_to_reg-24px.svg" alt="home" > USER REGISTRATION FORM</h6>
           
            </div>
            <div class="modal-body">
                <form>
                    
                    <div class="form-group form-inline ">
                      <label for="firstname" class="p-3 mb-2 bg-primary text-white">FIRSTNAME</label>
                      <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Required field">
                    </div>
                       
                    <div class="form-group form-inline">
                        <label for="lastname" class="p-3 mb-2 bg-primary text-white">LASTNAME</label>
                        <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Required field">
                      </div>
                       
                    <div class="form-group form-inline">
                      <label for="role" class="p-3 mb-2 bg-primary text-white">ROLE</label>
                      <div class="input-group mb-3">

                        <select class="custom-select" id="inputGroupSelect01" name="role">
                          <option selected>Select an option</option>
                          <option value="1">Analyzer</option>
                          <option value="2">Cach collector</option>
                          <option value="3">Inventory manager</option>
                        </select>
                      </div>
                      
                    </div>
                       
                    <div class="form-group form-inline">
                        <label for="username" class="p-3 mb-2 bg-primary text-white">USERNAME</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Required field">
                    </div>
                       
                    <div class="form-group form-inline">
                        <label for="password" class="p-3 mb-2 bg-primary text-white">PASSWORD</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Required field">
                    </div>
                       
                    <div class="form-group form-inline">
                        <label for="tpnumber" class="p-3 mb-2 bg-primary text-white">TP NUMBER</label>
                        <input type="text" class="form-control" id="tpnumber" name="tpnumber" placeholder="Required field">
                    </div>
                       
                    <div class="form-group form-inline">
                        <label for="address" class="p-3 mb-2 bg-primary text-white">ADDRESS</label>
                        <input type="text" class="form-control" id="address" name="address" placeholder="Required field">
                    </div>
                        
                          
                   
                   
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        </div>
    </div>
    
    <router-outlet></router-outlet>
  
</div>

