<html>
    <body>
        <div class="container">
            <div class="col-12 pd-top">
              <a href="newproduct"><button type="button" class="btn btn-primary btn-lg" onclick="window.open('new_products_form.html','_self');">New Stock</button></a>
              <a href="reports"><button type="button" class="btn btn-secondary btn-lg ml-2" onclick="window.open('reports.html','_self');">Reports</button></a>
            </div>
            
        </div>

            <div class="row">
                    <div class="col-2"></div>
              
                <div class="col-8 pd-top">

                    <div class="form-group col-12 px-0 jf-r">
                        <label for="example-date-input" class="col-2 btn-primary pd-tp-2 px-5"><span>Date</span></label>
                        <div class="col-4 px-0">
                          <input class="form-control mr-0 date" type="date" value="2020-05-21" id="date-input">
                        </div>
                    </div>

                    <div class="col-12 form-bg">
                        <nav class="navbar navbar-expand-lg frm">
                          <a class="navbar-brand" href="#"><label class="store-plus nav-btns mr-2"></label>New Products Form</a>
                          <div class="form-cont">
                            <button type="button" class="btn btn-outline-light"><span class="fa fa-chevron-left"></span></button>
                            <button type="button" class="btn btn-outline-light"><span class="fa fa-chevron-right"></span></button>
                          </div>
                        </nav>
                      </div>

                    <div class="form-bg py-3 px-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroup-sizing-default">Product Name</span>
                            </div>
                            <input type="text" class="form-control col-5 text-capitalize" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Required Field">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroup-sizing-default">1x Selling Price</span>
                            </div>
                            <input type="text" class="form-control col-5 text-capitalize" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroup-sizing-default">1x Buying Price</span>
                            </div>
                            <input type="text" class="form-control col-5  text-capitalize" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>

                        <div class="col-12 px-0 sp-btwn">
                            <div>
                              <button type="button" class="btn btn-primary w-150">Quantity</button>
                              <button type="button" class="btn btn-light ml-2">Boxes</button>
                              <button type="button" class="btn btn-light ml-2">Pieces</button>
                            </div>
                            <button type="submit" class="btn btn-primary ml-2">Submit</button>
                        </div>

                    </div>

                </div>
            </div>
        
            
        
    </body>
</html>


