<div class="text-center inline p-5 bg-primary text-white shadow">
    <h1 class="py-2">{{title}}</h1>
</div>
<div class="p-5 text-center">
    <button type="button" class=" button btn btn-primary m-3 shadow-sm rounded-0" data-toggle="modal"
        data-target="#loginPage" [routerLink]="['/login']"><img
            src="assets\Icons\sign-in-alt-solid.svg"><br>LOGIN</button>
    <button type="button" class="button btn btn-primary m-3 shadow-sm rounded-0" data-toggle="modal"
        data-target="#signUpPage" [routerLink]="['/signup']"><img
            src="assets\Icons\user-plus-solid.svg"><br>SIGNUP</button>
</div>