<div class="navbar bg-primary">
  <a class="active" href="/"><img src="../../assets/icons/home-24px.svg">Home</a>
  <div class="btn-group1" role="group" aria-label="">
    <button type="button" class="btn btn-primary" routerLink="" style="column-width:50px"><img src = "..\..\assets\icons\iconfinder_chevron-left_2561358.svg"></button>
    <button type="button" class="btn btn-primary" routerLink="" style="column-width:50px;"><img src = "..\..\assets\icons\iconfinder_chevron-right_2561358.svg"></button>
  </div>
  <a class="active" href="#"><img src="../../assets/icons/local_shipping-24px.svg">Lorry #1</a>
  <a class="active"><img src="../../assets/icons/user-solid.svg">Inventory Manager</a>
  <button href="#" type="button" class="btn btn-outline-light" style="border-radius:8px;">Sign out</button>
</div>

<br>
<br>
<br>
<br>


<div class="btn-group" role="group" aria-label="">
  <button type="button" class="btn btn-primary" style="column-width:30px;"><img src="../../assets/icons/post_add-24px.svg"></button>
  <button type="button" class="btn btn-primary" style="width:300px">Available Items</button>
  <button type="button" class="btn btn-primary" routerLink="./AvItems" style="text-align:right"><img src = "..\..\assets\icons\iconfinder_chevron-right_2561358.svg"></button>
</div>
<br>
<br>
<div class="btn-group" role="group" aria-label="">
  <button type="button" class="btn btn-primary" style="column-width:30px;"><img src="../../assets/icons/post_add-24px.svg"></button>
  <button type="button" class="btn btn-primary" style="width:300px;">Missing Items</button>
  <button type="button" class="btn btn-primary" routerLink="./MiItems" style="text-align:right"><img src = "..\..\assets\icons\iconfinder_chevron-right_2561358.svg"></button>
</div>
<br>
<br>
<div class="btn-group" role="group" aria-label="">
  <button type="button" class="btn btn-primary" style="column-width:30px;"><img src="../../assets/icons/post_add-24px.svg"></button>
  <button type="button" class="btn btn-primary" style="width:300px">New Loading</button>
  <button type="button" class="btn btn-primary" routerLink="./NLoading" style="text-align:right"><img src = "..\..\assets\icons\iconfinder_chevron-right_2561358.svg"></button>
</div>
