<div class="navbar bg-primary">
  <a class="active" href="/"><img src="../../assets/icons/home-24px.svg">Home</a>
  <a class="active" href="#"><img src="../../assets/icons/local_shipping-24px.svg">Lorry #1</a>
  <a class="active"><img src="../../assets/icons/user-solid.svg">Inventory Manager</a>
  <button href="#" type="button" class="btn btn-outline-light" style="border-radius:8px;">Sign out</button>
</div>

<br>
<br>
<br>
<br>

<div class = "btn">
  <div class = "col-sm-6 offset-2">
    <p><a class = "btn btn-primary" routerLink="./AvItems"><img src="../../assets/icons/post_add-24px.svg">Available Items<i class = "fa fa-chevron-right" aria-hidden="true"></i></a></p>
    <p><a class = "btn btn-primary" routerLink="./MiItems"><img src="../../assets/icons/post_add-24px.svg">Missing Items<i class = "fa fa-chevron-right" aria-hidden="true"></i></a></p>
    <p><a class = "btn btn-primary" routerLink="./NLoading"><img src="../../assets/icons/post_add-24px.svg">New Loading<i class = "fa fa-chevron-right" aria-hidden="true"></i></a></p>
  </div>
</div>
