<div class="navbar bg-primary">
  <a class="active" ><img src="../../assets/icons/home-24px.svg">Home</a>
  <div class="btn-group1" role="group" aria-label="">
    <button type="button" class="btn btn-primary" routerLink="" style="column-width:50px"><img src = "..\..\assets\icons\iconfinder_chevron-left_2561358.svg"></button>
    <button type="button" class="btn btn-primary" routerLink="" style="column-width:50px;"><img src = "..\..\assets\icons\iconfinder_chevron-right_2561358.svg"></button>
  </div>
  <a class="active" href="#"><img src="../../assets/icons/post_add-24px.svg"> Missing Items</a>
  <a class="active"><img src="../../assets/icons/user-solid.svg">Inventory Manager</a>
  <button href="#" type="button" class="btn btn-outline-light" style="border-radius:8px;">Sign out</button>
</div>

<form>
  <div class="form-group-row"  style="width:700px;">
    <div class="navbar bg-primary">
      <a class="active" style="height:45px;"><img src="../../assets/icons/post_add-24px.svg" style="margin-left:10px;">MISSING ITEMS FORM</a>
      <div class="btn-group1" role="group" aria-label="">
        <button type="button" class="btn btn-primary" routerLink="" style="column-width:50px;"><img src = "..\..\assets\icons\iconfinder_chevron-left_2561358.svg"></button>
        <button type="button" class="btn btn-primary" routerLink="" style="column-width:50px;"><img src = "..\..\assets\icons\iconfinder_chevron-right_2561358.svg"></button>
      </div>
    </div>
    <br>
    <div class="col-auto" >
      <label class="sr-only " for="inlineFormInputGroup" style="color:#007bff">Required Field</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text" style="color:white;">PRODUCT NAME</div>
        </div>
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Required Field">
      </div>
      <label class="sr-only" for="inlineFormInputGroup"></label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text" style="color:white">1*SELLING PRICE</div>
        </div>
        <input type="text" class="form-control" id="inlineFormInputGroup">
      </div>
      <label class="sr-only" for="inlineFormInputGroup"></label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text" style="color:white">1*BUYING PRICE</div>
        </div>
        <input type="text" class="form-control" id="inlineFormInputGroup">
      </div>
      <br>
      <br>
      <button type="submit" class="btn btn-primary mb-2" style="margin-top:8px">QUANTITY</button>
      <button type="submit" class="btn btn-outline-primary" style="margin-left:5px">BOXES</button>
      <button type="submit" class="btn btn-outline-primary" style="margin-left:5px">PIECES</button>
      <button type="submit" class="btn btn-primary mb-2" style="margin-left:328px">SUBMIT</button>
      </div>
    </div>
</form>
