<nav class="navbar navbar-expand-sm bg-primary navbar-dark">

    <ul class="navbar-nav">

      <li class="nav-item active margin-left1">
        <a class="nav-link ml-5 mx-5 pl-5 margin-left1" routerLink="#" >
            <img src="assets\White\home-24px.svg" >HOME</a>
      </li>
      
      <li class="nav-item active margin-left2 "><img class="image" src="assets\White\user-solid.svg">
       <a href="" class="navbar-brand">Inventory Manager</a>
      </li>

      <button type="button" class="btn1 btn-outline-light btn-primary"><a routerLink=""></a>SIGN OUT</button>

    </ul>
</nav>

<br>
<br>

<div class="container text-center">
    <div class="row ">
        <div class="col-lg-6 offset-4">
            <a routerLink="" class="btn btn-primary" role="button">
                <img src="assets\White\store-24px.svg"><br>STOREHOUSE</a>
            <a routerLink="" class="btn btn-primary" role="button">
                <img src="assets\White\local_shipping-24px.svg"><br>DISTRIBUTION</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 offset-4">
            <a routerLink="employeeDetails" class="btn btn-primary" role="button">
                <img src="assets\White\people_alt-24px.svg"><br>EMPLOYEES</a>
            <a routerLink="shopDetails" class="btn btn-primary" role="button">
                <img src="assets\White\storefront-24px.svg"><br>SHOPS</a>
        </div>
    </div>
</div>

