
<!--nav bar-->
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">

    <ul class="navbar-nav">
      <!--home button-->
      <li class="nav-item active margin-left1">
        <a class="nav-link ml-5 mx-5 pl-5 margin-left1" routerLink="" >
            <img src="assets\White\home-24px.svg" >HOME</a>
      </li>

      <li class="nav-item active margin-left1 margin-right "><img src="assets\White\storefront-24px.svg">
        <a href="" class="navbar-brand">SHOPS</a>
      </li>
      
      <li class="nav-item active margin-left2 "><img class="image" src="assets\White\user-solid.svg">
       <a href="" class="navbar-brand">Inventory Manager</a>
      </li>
      <!--sign out button-->
      <button type="button" class="btn1 btn-outline-light btn-primary"><a routerLink=""></a>SIGN OUT</button>

    </ul>
</nav>

<br><br> <!--search shop-->

<div class="container">
  <div class="row">
    <div class="col-lg-3 offset-7">
      <form class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="Search Shops..">
        <div class="container"><span class="glyphicon glyphicon-search"></span></div>
      </form>
    </div>
  </div>
</div>

<br><br><!--shop details table-->
<div class="container">
    <div class="row">
      <div class="col-lg-10 offset-1">
          <table class="table table-bordered  ">
            <thead class="p-3 mb-2 bg-primary text-white">
              <tr>
                <th scope="col-md-2">NAME</th>
                <th scope="col-md-2">OWNER</th>
                <th scope="col-md-2">ADDRESS</th>
                <th scope="col-md-2">TP NUMBER</th>
              </tr>
            </thead>
            <tbody>
          
              <tr class="thead-light" style="font-weight:normal">
                <th style="font-weight:normal">Suwini Stores</th>
                <th style="font-weight:normal">H.M.Fernando</th>
                <th style="font-weight:normal">No 23,Polgahawela</th>
                <th style="font-weight:normal">0713366447</th>
              </tr>
  
              <tr class="thead-light">
                <th style="font-weight:normal">Pradeep Stores</th>
                <th style="font-weight:normal">G.D.Wijesinghe</th>
                <th style="font-weight:normal">No 13,Samagi Mawatha,Polgahawela</th>
                <th style="font-weight:normal">0783475454</th>
              </tr>
  
              <tr class="thead-light">
                <th style="font-weight:normal">Tharu Hotel</th>
                <th style="font-weight:normal">M.P.Karunarathna</th>
                <th style="font-weight:normal">No 20,Kongashandiya,Imbulgasdeniya</th>
                <th style="font-weight:normal">0712983294</th>
              </tr>
  
              <tr class="thead-light">
                <th style="font-weight:normal">Ama Hotel</th>
                <th style="font-weight:normal">H.M.Fernando</th>
                <th style="font-weight:normal">No 3,Bandawa,Polgahawela</th>
                <th style="font-weight:normal">07136764447</th>
              </tr>
  
            </tbody>
          </table>
        </div>
      </div>
    </div>