<table class="table">
    <thead class="bg-primary">
        <tr>
            <th scope="col">USERS</th>
            <th scope="col">ROLE</th>
            <th scope="col">USERNAME</th>
            <th scope="col">PASSWORD</th>
            <th scope="col">TPNUMBER</th>
            <th scope="col">ADDRESS</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            

        </tr>
    </tbody>
</table>
