<table class="table" id="tableid">
    <thead class="bg-primary">

        <tr>
            <th scope="col">USERNAME</th>
            <th scope="col">ROLE</th>
            <th scope="col">FIRSTNAME</th>
            <th scope="col">LASTNAME</th>
            <th scope="col">ADDRESS LINE3</th>
            <th scope="col">ACCOUNT STATUS</th>
        </tr>


    </thead>
    <tbody>



        <tr *ngFor="let user of users">
            <th>

                <!-- Button trigger modal -->

                <a class="usernamelink" data-toggle="modal" data-target="#userUpdateForm">
                    {{user.username}}
                </a>

                <!-- Modal -->
                <div class="modal fade" id="userUpdateForm" tabindex="-1" role="dialog"
                    aria-labelledby="userUpdateFormLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="bg-primary formheader">

                                <h6 class="modal-title " id="userRegistrationFormheader"> <img class="regicon"
                                        src="assets/Icons/Icons/how_to_reg-24px.svg" alt="home">USERNAME_1</h6>

                            </div>
                            <div class="modal-body">
                                <form class="form-group" [formGroup]="updateForm" (ngSubmit)="onSubmit()">

                                    <div class="form-group form-inline ">
                                        <label for="firstname" class="p-3 mb-2 bg-primary text-white">FIRSTNAME</label>
                                        <input type="text" class="form-control" id="firstname"
                                            [formControlName]="'firstname'" name="firstname"
                                            placeholder="Required field">
                                    </div>

                                    <div class="form-group form-inline">
                                        <label for="lastname" class="p-3 mb-2 bg-primary text-white">LASTNAME</label>
                                        <input type="text" class="form-control" id="lastname"
                                            [formControlName]="'lastname'" name="lastname" placeholder="Required field">
                                    </div>
                                    <!--       
                                <div class="form-group form-inline">
                                    <label for="role" class="p-3 mb-2 bg-primary text-white">ROLE</label>
                                    <input type="text" class="form-control" id="lastname" [formControlName]="'role'" name="lastname" placeholder="Required field">
                                </div>
                                -->

                                    <div class="form-group form-inline">
                                        <label for="role" class="p-3 mb-2 bg-primary text-white">ROLE</label>
                                        <div class="input-group mb-3">

                                            <select class="custom-select" id="inputGroupSelect01"
                                                [formControlName]="'role'" name="role">
                                                <option selected>Select an option</option>
                                                <option value="Analyzer">Analyzer</option>
                                                <option value="Cach collector">Cach collector</option>
                                                <option value="Inventory manager">Inventory manager</option>
                                            </select>
                                        </div>

                                    </div>

                                    <div class="form-group form-inline">
                                        <label for="username" class="p-3 mb-2 bg-primary text-white">USERNAME</label>
                                        <input type="text" class="form-control" id="username"
                                            [formControlName]="'username'" name="username" placeholder="Required field">
                                    </div>





                                    <div class="form-group form-inline">
                                        <label for="addressline1" class="p-3 mb-2 bg-primary text-white">ADDRESS
                                            LINE1</label>
                                        <input type="text" class="form-control" id="address1"
                                            [formControlName]="'addressline1'" name="addressline1"
                                            placeholder="Required field">
                                    </div>

                                    <div class="form-group form-inline">
                                        <label for="addressline2" class="p-3 mb-2 bg-primary text-white">ADDRESS
                                            LINE2</label>
                                        <input type="text" class="form-control" id="address2"
                                            [formControlName]="'addressline2'" name="addressline2"
                                            placeholder="Required field">
                                    </div>

                                    <div class="form-group form-inline">
                                        <label for="addressline3" class="p-3 mb-2 bg-primary text-white">ADDRESS
                                            LINE3</label>
                                        <input type="text" class="form-control" id="address3"
                                            [formControlName]="'addressline3'" name="addressline3"
                                            placeholder="Required field">
                                    </div>




                                    <button type="submit" class="btn btn-primary">UPDATE</button>


                                </form>
                            </div>
                            <div class="modal-footer">

                            </div>
                        </div>
                    </div>
                </div>


            </th>


            <th>{{user.role}}</th>
            <th>{{user.firstName}}</th>
            <th>{{user.lastName}}</th>
            <th>{{user.address3}}</th>
            <th>{{user.accountStatus}}</th>




        </tr>

    </tbody>

</table>