th{
    color: white;
    text-align: center;
}

td{
    text-align: center;
}

.alert-danger
{
    text-align: center;
}

tbody{
    background-color: #e9ecef;
}

input[type]{
    width: 410px;
    height: 56px;
    margin-bottom: auto;
    border-radius: 0;
}

#inputGroupSelect01{
    width: 410px;
    height: 56px;
    margin-top: 8px;
    border-radius: 0;
}

label{
    width: 200px;
}
.formheader{
    height: 55px;
    width: 100%;
    color: white;
    font-size: xx-small;
    text-align: center;
    
}






















