<html>
    <body>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <div class="col-7 sp-btwn ">
                    <a class="navbar-brand" href=""><span class="fa fa-home mr-2"></span>Home</a>
                    <a class="navbar-brand" href="container"><label class="store mr-2 py-0 nav-btns"></label>Storehouse</a>
                  </div>
    
              <div class="col-5 justify-right">
                <a href="#" class="text-capitalize"><span class="fa fa-user mr-2"></span>Inventory Manager</a> 
                <button type="button" class="btn ml-3 btn-outline-light">Sign Out</button>
              </div>
            </div>
              
        </nav>  
    </body>
</html>