<header class="">
   <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #2F89F7;">
   <div> <a style="color: #ffff;" href="" class="navbar-brand"><img style="color: #ffff;" src="../assets/home.svg" width="30" height="30" class="d-inline-block align-center" alt=""> Home</a></div>
   <ul class="navbar-nav navbar-collapse justify-content-end"> 
            <li><a  class="nav-link"><img src="../assets/arrow-thick-left.svg" width="30" height="30" class="d-inline-block align-center"  alt=""></a></li>
            
    </ul>
    <ul class="navbar-nav navbar-collapse justify-content-end"> 
        <li><a style="color: #ffff;" class="nav-link" ><img src="../assets/arrow-thick-left.svg" width="30" height="30" class="d-inline-block align-center"  alt="">INVOICE REPORTS</a>
    </ul>
     <ul class="navbar-nav navbar-collapse justify-content-end"> 
        <li><a style="color: #ffff;" class="nav-link" ><img src="../assets/arrow-thick-left.svg" width="30" height="30" class="d-inline-block align-center"  alt="">Inventory Manager</a>
    </ul>
    <ul class="navbar-nav navbar-collapse justify-content-end"> 
        <li><a  class="nav-link" ><button type="button" class="btn btn-success">Sign Out</button></a>
    </ul>
    

   </nav>
</header>