.margin-left3{
    margin-left: 400px;
    margin-top: 50px;
    max-width: 500px
}

.margin-left4{
    margin-left: 450px;
    margin-top: 10px;
    max-width: 500px
}

.margin-left5{
    margin-left:400px
}

.margin-left6{
    margin-left: 150px;
}
.btn{
    border-radius: 0 ;
}