<div class="custom-control custom-switch dropdown dropright  margin-left3">
    <button   type="button" class="btn btn-primary dropdown-toggle btn-block " data-toggle="dropdown">
    <input type="checkbox" class="custom-control-input" id="customSwitches">
    <label class="custom-control-label" for="customSwitches">
      <img src="assets/Icons/local_shipping-24px.svg" alt="localShipping" >
      <b>  LORRY NUMBER 01</b>
      </label>
    </button>

    <div class="p-3 mb-2 bg-secondary text-white">
    <form>
      <div class="form-row ">
        <div class="form-group col-md-6">
          <label for="inputFname">FIRST NAME</label>
          <input type="text" class="form-control" id="inputFname" placeholder="First Name">
        </div>
        <div class="form-group col-md-6">
          <label for="inputLname">LAST NAME</label>
          <input type="text" class="form-control" id="inputLname" placeholder="Last Name">
        </div>
      </div>
      <div class="form-group">
        <label for="inputTp">TP NUMBER</label>
        <input type="text" class="form-control" id="inputTp" placeholder="Required Field">
      </div>
    </form>
    </div>

    <button   type="button" class="btn btn-primary dropdown-toggle btn-block " data-toggle="dropdown">
    <input type="checkbox" class="custom-control-input" id="customSwitches">
    <label class="custom-control-label" for="customSwitches">
      <img src="assets/Icons/local_shipping-24px.svg" alt="localShipping" >
      <b>  LORRY NUMBER 02</b>
      
    </label>
    </button>

    <button type="button" class="btn btn-primary dropdown-toggle btn-block " data-toggle="dropdown">
      
      <img src="assets/Icons/local_shipping-24px.svg" alt="localShipping" >
      <b>  ADD NEW LORRY</b>
      <img src="assets/Icons/add-24px.svg" alt="add" >
    </button>

  </div> 

  
 
