
   <nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top">
    <div class="collapse navbar-collapse" id="navbar NavAltMarkup">
        <div class="col-sm-3">
            <a class="nav-item nav-link" routerLink="Home"><img class="home-icon" src="assets\img\home-24px.svg">HOME</a>
        </div>

        <div class="col-sm-3 ">
            <p class="navbar-text text" style="color:#fff;" id="repo"><img class="emp-img" src="assets\img\people_alt-24px.svg"> EMPLOYEES DETAILS</p>
        </div>

        <div class="col-sm-3 offset-1">
            <p class="navbar-text text" style="color:#fff;"><img class="an-img" src="assets\img\user-solid.svg"> Analyzer</p>
        </div>

      <div class="col-sm-3">
            <button type="button" class="btn btn-default" id="button">SIGN OUT</button>
      </div>

    </div>
</nav>

<br>
<br>
<br>
<div class="container">
<div class="row">
  <div class="col-lg-3 offset-7">
    
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search">
      <div class="input-group-append">
        <button class="btn btn-light"><img class="search" src="assets\img\search-13-xl.png"></button>
      </div>
    </div>








            
                      <!----       <form class="form-group has-feedback">
                              <div>
                                  <input type="text" class="search-query form-control" placeholder="Search With Id">
                                  
                                <div class="container"> <button class="btn btn-light"><img class="search" src="assets\img\search-13-xl.png"></button></div>

                                </div>
                                </form>--->
                             
                          </div>
                        </div>
  



<br>
<br>
<br>

<div class="row row-content">
    <div class="col-12 col-sm-10 offset-1">
        <div class="table-responsive">
            <table class="table">
                <thead>
                  <tr>
                    
                    <th>User Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Address Line1</th>
                    <th>Address Line2</th>
                    <th>Address Line3</th>
                    <th>Role</th>
                    <th>Phone Type</th>
                    <th >Phone Number</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="">
                    <!---<td>{{user.userID}}</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.addressLine1}}</td>
                    <td>{{user.addressLine2}}</td>
                    <td>{{user.addressLine3}}</td>
                    <td>{{user.role}}</td>
                    <td>{{user.phoneType}}</td>
                    <td>{{user.phoneNumber}}</td>--->
                  </tr>
                </tbody>
              </table>
           
        </div>
    </div>  
</div>

</div>