<app-header></app-header>

<br><br>
<!--search Employee-->

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-lg-3">
      <div class="input-group mb-3">
        <input type="text" class="form-control" name="search" (input)="search()" [(ngModel)]="searchText"
          autocomplete="on" placeholder="Employee ID...">
        <div class="input-group-append">
          <button class="btn btn-primary" (click)="search()"><img class="search" src="assets\img\search-13-xl.png">
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<br><br>
<!--shop details table-->
<div class="table-wrapper">
  <div class="row row-content">
    <div class="col-12 col-sm-10 offset-1">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr *ngIf="tool">
              <th>ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Role</th>
              <th>Address</th>
              <th>Phone Type</th>
              <th>Phone Number</th>
              <th>Phone Type</th>
              <th>Phone Number</th>
            </tr>
          </thead>
          <tbody *ngFor="let lstEmp of lstEmp ; let i = index">
            <tr>
              <td>{{lstEmp.userID}}</td>
              <td>{{lstEmp.firstName}}</td>
              <td>{{lstEmp.lastName}}</td>
              <td>{{lstEmp.role}}</td>
              <td>{{lstEmp.addressLine1 +', '+ lstEmp.addressLine2 +', '+ lstEmp.addressLine3 +'.'}}</td>
              <td>{{lstEmp.phoneNumbers[0]?.phoneType}}</td>
              <td>{{lstEmp.phoneNumbers[0]?.phoneNumber}}</td>
              <td>{{lstEmp.phoneNumbers[1]?.phoneType}}</td>
              <td>{{lstEmp.phoneNumbers[1]?.phoneNumber}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-4 offset-3">
        <div class="alert alert-danger" role="alert" *ngIf="!tool">
          Employee Not Found!
        </div>
      </div>
    </div>
  </div>
</div>