.btn-primary{
    width: 50px;
    border-radius: 0px;
    background-color: #0076ff;
}

.search{
    height: 18px;
    width: 18px;
}

.input-group-append{
    
    height: 38px;
    width: 40px;
}

th{
    background-color:#0076ff;
    color: white;
    text-align: center;
}

td{
    text-align: center;
}

.alert-danger
{
    text-align: center;
}

tbody{
    background-color: #e9ecef;
}