
<body>
    <br>
    <br>
    <br>
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 offset-9">
                <a class="btn btn-xl-primary-center" id="b1" routerLink="/report" routerLinkActive="active"><img class="multiline-chart" src="assets\img\multiline_chart-24px.svg"><br>ANALYZE <br>REPORTS</a>
                <a class="btn btn-xl-primary-center" id="b2" routerLink="/details" routerLinkActive="active"><img class="people" src="assets\img\people_alt-24px.svg"><br>EMPLOYEES <br> DETAILS</a>
                
            </div>

        </div>
    
    
    </div>

    
</body>

