




<br>
<br>
<br>
<div class="container">
<div class="row row-content">
    <div class="col-12 col-sm-10 offset-1 ">
        <div class="table-responsive">
            <table class="table">
                <thead>
                  <tr>
                    
                    <th scope="col">ROLE</th>
                    <th scope="col">NAME</th>
                    <th scope="col">TP NUMBER</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    
                    <td>Administrator</td>
                    <td>S.M.R.G.Perera</td>
                    <td>071-1234567</td>
                  </tr>
                  <tr>
                    
                    <td>Analyzer</td>
                    <td>S.M.Gamini Senevirathne</td>
                    <td>071-2333333</td>
                  </tr>
                  <tr>
                    
                    <td>Inventory Manager</td>
                    <td>H.M.Thilakarathne</td>
                    <td>077-8967564</td>
                  </tr>
                  <tr>
                      <td>Cash Collector</td>
                      <td>N.M.Fernando</td>
                      <td>070-5634678</td>
                 </tr>
                 <tr>
                     <td>Driver 1</td>
                     <td>F.M.D.Gunathilake</td>
                     <td>078-8967564</td>
                 </tr>
                </tbody>
              </table>
           
        </div>
    </div>  
</div>

</div>