<app-header></app-header>

<div class="p-5">
    <div class="row justify-content-md-center">
        <button type="button" class="button btn btn-primary m-3 shadow-sm rounded-0" data-toggle="modal"
            [routerLink]="['/reports']"><img src="assets\img\multiline_chart-24px.svg"><br>REPORTS</button>
        <button type="button" class="button btn btn-primary m-3 shadow-sm rounded-0" data-toggle="modal"
            [routerLink]="['/analyzer_employee_details']"><img
                src="assets\img\people_alt-24px.svg"><br>EMPLOYEES</button>
    </div>
</div>