<div class="container mb-5 p-4 col-lg-6 border border-primary">
    <form class="form-group" [formGroup]="deleteForm" (ngSubmit)="onSubmitDeleteUser()">
        <div class="form-group form-inline">
            <label for="username" class="p-3 mb-2 bg-primary text-white">USERNAME</label>
            <input type="text" class="form-control" id="userid" [formControlName]="'username'"
                placeholder="Required field">
            <span class="form-text text-danger"
                *ngIf="deleteForm.controls.username.errors?.required && deleteForm.controls.username.touched">
                Username is required!
            </span>
        </div>
        <button type="submit" class="btn btn-primary">Delete</button>
    </form>
</div>