<app-header></app-header>

<br><br>

<div class="p-5">
    <div class="container btn-toolbar text-center">
        <div class="row">
            <button type="button" class="btn btn-primary btn-color btn-bg-color btn-lg col-xs-2 pt-4 pb-4 mr-4"
                routerLink="/store_house_dashboard">NEW STOCKS</button>
            <button type="button" class="btn btn-primary btn-color btn-bg-color btn-lg col-xs-2 pt-4 pb-4 mr-4"
                routerLink="store_house_reports"> REPORTS
            </button>
        </div>
    </div>
</div>


<router-outlet></router-outlet>