<app-header></app-header>

<div class="p-5">
    <div class="row justify-content-md-center">
        <button type="button" class="button btn btn-primary m-3 shadow-sm rounded-0" data-toggle="modal"
            [routerLink]="['/inventory_manager']"><img src="assets\Icons\Icons\store-24px.svg"><br>STOREHOUSE</button>
        <button type="button" class="button btn btn-primary m-3 shadow-sm rounded-0" data-toggle="modal"
            [routerLink]="['/distribution_dashboard']"><img
                src="assets\Icons\Icons\local_shipping-24px.svg"><br>DISTRIBUTION</button>
    </div>
    <div class="row justify-content-md-center">
        <button type="button" class="button btn btn-primary m-3 shadow-sm rounded-0" data-toggle="modal"
            [routerLink]="['/inventory_manager_employee_details']"><img
                src="assets\Icons\Icons\people_alt-24px.svg"><br>EMPLOYEES</button>
        <button type="button" class="button btn btn-primary m-3 shadow-sm rounded-0" data-toggle="modal"
            [routerLink]="['/shop_details']"><img src="assets\Icons\Icons\storefront-24px.svg"><br>SHOPS</button>
    </div>
</div>