<div class="container text-center">
    <div class="row ">
        <div class="col-sm-12 margin-left">
            <a href="" class="btn btn-primary" role="button">
                <img src="assets\Icons\store-24px.svg"><br>STOREHOUSE</a>
            <a href="" class="btn btn-primary" role="button">
                <img src="assets\Icons\local_shipping-24px.svg"><br>DISTRIBUTION</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 margin-left">
            <a href="" class="btn btn-primary" role="button">
                <img src="assets\Icons\people_alt-24px.svg"><br>EMPLOYEES</a>
            <a href="" class="btn btn-primary" role="button">
                <img src="assets\Icons\storefront-24px.svg"><br>SHOPS</a>
        </div>
    </div>
</div>
