.btn{
    position: relative;
    transform:translateX(-50%);
    width: 220px;
    height: 130px;
    padding: 40px 50px;
    border-radius: 0px 30px 0px 30px;
    margin: 15px;

}

.margin-left{
    margin-left: 100px;
}