
<div class="container">
  <table class="table">
    <tr class="bg-primary">
      <th>ROLE</th>
      <th>NAME</th>
      <th>TP NUMBER</th>
    </tr>
      
    <div class="tbody"> 
        <tr>
          <td>Analyzer</td>
          <td>Kamal</td>
          <td>07746534643</td>
        </tr>      

        <tr>
          <td>Inventory Manager</td>
          <td>Namal</td>
          <td>07154320335</td>
        </tr>

        <tr>
          <td>Admin</td>
          <td>Bimal</td>
          <td>07843434435</td>
        </tr>
      
        <tr>
          <td>Cash collector</td>
          <td>Nimal</td>
          <td>07546464364</td>
        </tr> 
      </div>      
  </table>
</div>
