<app-header></app-header>

<br><br>

<div class="container btn-toolbar text-center">
  <div class="row">
    <button type="button" class="btn btn-primary btn-color btn-bg-color btn-lg col-xs-2 pt-4 pb-4 mr-4"
    routerLink="/distribution_dashboard">NEW LOADING</button>
  <button type="button" class="btn btn-primary btn-color btn-bg-color btn-lg col-xs-2 pt-4 pb-4 mr-4" routerLink="reports"> REPORTS
  </button>
  <button type="button" class="btn btn-primary btn-color btn-bg-color btn-lg col-xs-2 pt-4 pb-4" routerLink="manage">
    MANAGE</button>
  </div>
</div>



<router-outlet></router-outlet>