
<div class="container">
    <nav class="navbar navbar-expand-sm fixed-top bg-primary">
    
        <div class="collapse navbar-collapse" id="navbar NavAltMarkup">
            <div class="navbar-nav">
                
                <a class="nav-item nav-link" routerLink="Home">HOME</a>
                <button class="btn btn-default"  >SIGN OUT</button>
            
              </div>
            
        </div>
    
        
    </nav>>
    
</div>

<app-analyzer-selection></app-analyzer-selection>



<router-outlet></router-outlet>