input[type]{
    width: 350px;
    height: 56px;
    margin-bottom: auto;
    border-radius: 0;
}

#inputGroupSelect01{
    width: 350px;
    height: 56px;
    margin-top: 8px;
    border-radius: 0;
}

label{
    width: 200px;
}