<app-header></app-header>

<br><br>
<!--search shop-->

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-lg-3">
      <div class="input-group mb-3">
        <input type="text" class="form-control" (input)="findShop()" placeholder="Shop Name..." name="shopName"
          [(ngModel)]="shopName" />
        <div class="input-group-append">
          <button class="btn btn-primary" (click)="findShop()"><img class="image1"
              src="../../../assets/Icons/Icons/search.png"> </button>
        </div>
      </div>
    </div>
  </div>
</div>

<br><br>
<!--shop details table-->
<div>
  <div class="row">
    <div class="col-lg-10 offset-1">
      <div *ngIf="isFoundShop">
        <table class="table table-bordered">
          <thead class="p-3 mb-2 bg-primary text-white">
            <tr>
              <th scope="col-md-2">Shop ID</th>
              <th scope="col-md-2">Shop Name</th>
              <th scope="col-md-2">Owner's First Name</th>
              <th scope="col-md-2">Owner's Last Name</th>
              <th scope="col-md-2">Address</th>
              <th scope="col-md-2">Phone Number</th>
            </tr>
          </thead>
          <tbody>
            <tr class="thead-light" *ngFor="let shop of shops">
              <th style="font-weight:normal">{{shop.shopID}}</th>
              <th style="font-weight:normal">{{shop.shopName}}</th>
              <th style="font-weight:normal">{{shop.ownerFName}}</th>
              <th style="font-weight:normal">{{shop.ownerLName}}</th>
              <th style="font-weight:normal">{{shop.address}}</th>
              <th style="font-weight:normal">{{shop.phoneNumber}}</th>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="!isFoundShop" class="alert alert-danger" role="alert">
        Shops Not Found!
      </div>
    </div>
  </div>
</div>