 <div class="custom-control custom-switch dropdown dropright  margin-left3"> 
   <div id="accordion">


    <div class="card text-white bg-primary mb-1 ">
      <div class="card-header">
        <a class="card-link text-white " data-toggle="collapse" href="#collapseOne">
          <img src="assets/Icons/local_shipping-24px.svg" alt="localShipping" >
      <b>ADD NEW LORRY</b>
        </a>
      </div>
      <div id="collapseOne" class="collapse show" data-parent="#accordion">
        <div class="card-body">
          <div class="p-3 mb-2 bg-secondary text-white" ng-app="myApp" ng-controller="personalCtrl">
            <form [formGroup]="setLorry" (ngSubmit)="submitLorryData()">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputFname">FIRST NAME</label>
                  <input formControlName="fName" type="text" class="form-control" id="inputFname" name ="fName" placeholder="First Name">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputLname">LAST NAME</label>
                  <input formControlName="lName" type="text" class="form-control" id="inputLname" name="lName" placeholder="Last Name">
                </div>
              </div>
              <div class="form-group">
                <label for="inputTp">TP NUMBER</label>
                <input formControlName="phoneNumber" type="text" class="form-control" id="inputTp" placeholder="Required Field">
              </div>
              <button class="btn btn-light margin-left6" type="submit" value="Submit">Submit</button>
            </form>
            </div> 
        </div>
      </div>
    </div>
  
    <div *ngFor="let lorry of forms" class="card text-white bg-primary mb-1 ">
      <div class="card-header ">
        <a class="collapsed card-link text-white" data-toggle="collapse" href="#collapseTwo">
          <img src="assets/Icons/local_shipping-24px.svg" alt="localShipping" >
          <b>  LORRY NUMBER {{ lorry.id }}</b>
        </a>
      </div>
      <div id="collapseTwo" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <div class="p-3 mb-2 bg-secondary text-white">
            <form [formGroup]="lorry.form" (ngSubmit)="updateLorryData(lorry.id)" class="form-group">
              <div class="form-row ">
                <div class="form-group col-md-6">
                  <label for="inputFname">FIRST NAME</label>
                  <input [formControl]="lorry.form.controls.fName" type="text" class="form-control" id="inputFname"   placeholder="First Name">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputLname">LAST NAME</label>
                  <input [formControl]="lorry.form.controls.lName" type="text" class="form-control" id="inputLname"  placeholder="Last Name">
                </div>
              </div>
              
              <div class="form-group ">
                <label for="inputTp">TP NUMBER</label>
                <input [formControl]="lorry.form.controls.phoneNumber" type="text" class="form-control" id="inputTp" placeholder="Required Field">
              </div>
              <div class="form-group ">
                <input [formControl]="lorry.form.controls.accountStatus" type="checkbox">
                <label> Account Status</label>
              </div>
              <button class="btn btn-light margin-left6" type="submit" value="Submit">Update</button>
               </form>
            </div> 
        </div>
      </div>
    </div>
  
    
    
  </div>
  
 </div>


 